# Configuración del Servidor
PORT=3000
NODE_ENV=develop

# Configuración de la Base de Datos
DB_HOST=basedatostesis
DB_PORT=5432
DB_USER=postgres
DB_PASSWORD=contraseña
DB_NAME=basedatostesis

# VITE_API_URL=http://IP-DEL-SERVIDOR:3000/api

# Seguridad
JWT_SECRET=cambia_esto_por_un_secreto_seguro
CORS_ORIGIN=*


